.tooltip-container {
  position: relative;
}

.tooltip {
  display: none;
  position: absolute;
  background-color: #eff1c8;
  padding: 5px;
  border-radius: 5px;
  z-index: 1;
  border: 2px hidden #f3ff13;
  font-size: smaller;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25), inset 2px 2px 5px rgba(0, 0, 0, 0.5), inset -3px -3px 5px rgba(0, 0, 0, 0.5);
}

.image-with-tooltip:hover + .tooltip {
  display: inline-block;
  width: 450px;
  gap: 20px;
}

.tooltipDiv {
  display: flex;
  margin-bottom: 10px;
}